<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Radio Beech </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900">
  <link rel="stylesheet" href="/static/fonts/icomoon/style.css">

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/magnific-popup.css">
  <link rel="stylesheet" href="/static/css/jquery-ui.css">
  <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">


  <link rel="stylesheet" href="/static/css/aos.css">

  <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>

  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-4" role="banner">

      <div class="container">
        <div class="row align-items-center">


          <div class="col-3">
           <a href="{% url 'home' %}" class="h6">Beech </a>
          </div>
          <div class="col-9">
            <nav class="site-navigation position-relative text-right text-md-right" role="navigation">



              <div class="d-block d-lg-none ml-md-0 mr-auto"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>
              
              <ul class="site-menu js-clone-nav d-none d-lg-block">
              {% block active %}
                <li class="active">
                  <a href="{% url 'home' %}">Home</a>
                </li>
              {% if user.is_authenticated %}
                <li  ><a class="text-danger" href="{% url 'create_story'%}">Share Story</a><li>
                <li><a href="{% url "story" %}">Stories</a></li> 
                <li class="has-children">
                  <a href="#">profile</a>
                  <ul class="dropdown arrow-top">
                       <li><a href="{% url 'profile' %}">{{user.get_username}}</a></li>
                       <li><a href="{% url 'logout' %}">Logout</a></li>

                  </ul>

                </li>
              {% else %}  
                <li><a href="{% url "story" %}">Stories</a></li> 
                <li><a href="{% url "register" %}">Register</a></li>       
                <li><a href="{% url "login" %}">Login</a></li>
              {% endif %}
              {% endblock active %}
              </ul>
            </nav>


          </div>

        </div>
      </div>



    </header>

  {% block content %}
  
    <div class="container pt-5 hero">
      <div class="row align-items-center text-center text-md-left">

        <div class="col-lg-7">
          <h1 class="mb-3 display-3">Tell Your Story to the World</h1>

          <p>Join with us! Login or Register</p>

        </div>
        <div class="col-lg-5">
          <img src={% static '/images/1x/h.jpg' %} alt="Image" class="img-fluid"  width="700" height="1500">
        </div>
      </div>
    </div>


     <div class="site-section">
      <div class="container">

        <div class="row">
          <div class="col-lg-3">
            <div class="featured-user  mb-5 mb-lg-0">
              <h3 class="text-info">popular members</h3>
              <ul class="list-unstyled">
              {% for i in count_data %}
                <li>
                  <a href="{% url "his_profile" i.name %}" class="d-flex align-items-center">
                    <img src="{{i.avatar}}" alt="Image"  onerror=this.src="/static/images/no.png" class="rounded-circle" width="50" height="50">
                    <div class="podcaster">
                      <span class="d-block">&nbsp;{{i.name}}</span>
                      <span ><small class="text-success"> &nbsp;{{i.count}} story</small></span>
                    </div>
                  </a>
                </li>
              {% endfor %}
              
              </ul>
            </div>
          </div>
        

           <div class="col-lg-9">


          {% for i in data %}
            <div class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">

              <div class="image" style="background-image: url('{{i.image.url}}');"></div>
              <div class="text">

                <h3 class="font-weight-light">{{i.title}}</h3>
                <div class="text-white mb-3"><span class="text-black-opacity-05"><small>By<a href="{% url "his_profile" i.name%}"> {{i.name}}</a> <span class="sep">/</span> {{i.date}} <span class="sep">/</span>{{i.time}}</small></span></div>


                <div class="player">
                  <audio id="player2" preload="none" controls style="max-width: 100%">
                    <source src="{{i.sound.url}}" type="audio/mp3">
                    </audio>
                  </div>

                </div>
              </div>
          {% endfor %}
           </div>
        </div>
      </div>
    </div>


    <!-- <div class="site-section">
      <div class="container" data-aos="fade-up">
        <div class="row mb-5">
          <div class="col-md-12 text-center">
            <h2 class="font-weight-bold text-black">Behind The Mic</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
            <div class="team-member">

              <img src="images/person_1.jpg" alt="Image" class="img-fluid">

              <div class="text">

                <h2 class="mb-2 font-weight-light h4">Megan Smith</h2>
                <span class="d-block mb-2 text-white-opacity-05">Creative Director</span>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
                <p>
                  <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>
                  <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>
                  <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>
                </p>
              </div>

            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
            <div class="team-member">

              <img src="images/person_2.jpg" alt="Image" class="img-fluid">

              <div class="text">

                <h2 class="mb-2 font-weight-light h4">Brooke Cagle</h2>
                <span class="d-block mb-2 text-white-opacity-05">Creative Director</span>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
                <p>
                  <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>
                  <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>
                  <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>
                </p>
              </div>

            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
            <div class="team-member">

              <img src="images/person_3.jpg" alt="Image" class="img-fluid">

              <div class="text">

                <h2 class="mb-2 font-weight-light h4">Philip Martin</h2>
                <span class="d-block mb-2 text-white-opacity-05">Creative Director</span>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
                <p>
                  <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>
                  <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>
                  <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>
                </p>
              </div>

            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
            <div class="team-member">

              <img src="images/person_4.jpg" alt="Image" class="img-fluid">

              <div class="text">

                <h2 class="mb-2 font-weight-light h4">Steven Ericson</h2>
                <span class="d-block mb-2 text-white-opacity-05">Creative Director</span>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
                <p>
                  <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>
                  <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>
                  <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>
                </p>
              </div>

            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
            <div class="team-member">

              <img src="images/person_5.jpg" alt="Image" class="img-fluid">

              <div class="text">

                <h2 class="mb-2 font-weight-light h4">Nathan Dumlao</h2>
                <span class="d-block mb-2 text-white-opacity-05">Creative Director</span>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
                <p>
                  <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>
                  <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>
                  <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>
                </p>
              </div>

            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
            <div class="team-member">

              <img src="images/person_6.jpg" alt="Image" class="img-fluid">

              <div class="text">

                <h2 class="mb-2 font-weight-light h4">Brooke Cagle</h2>
                <span class="d-block mb-2 text-white-opacity-05">Creative Director</span>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
                <p>
                  <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>
                  <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>
                  <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>
                </p>
              </div>

            </div>
          </div>


        </div>
      </div>
    </div> -->
  {% endblock content %}
  {% block footer %}
  
    <div class="site-section bg-light block-13">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
          </div>
        </div>
        <div class="nonloop-block-13 owl-carousel">
          <div class="text-center p-3 p-md-5 bg-white">
            <div class="mb-4">
             <a class='text-muted' href="https://github.com/mohamadmoayeri/radiobeech.git"> <img src="/static/images/5.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded-circle"></a>
            </div>
            <div class="">
              <h3 class="font-weight-light h5"><a class='text-muted' href="https://github.com/mohamadmoayeri/radiobeech.git">GitHub</a></h3>
              
            </div>
          </div>


          <div class="text-center p-3 p-md-5 bg-white">
            <div class="mb-4">
              <img src="/static/images/2.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
            </div>
            <div class="">
              <h3 class="font-weight-light h5">Mohammad Moayeri</h3>
              <p>Backend Developer</p>
            </div>
          </div>

          <div class="text-center p-3 p-md-5 bg-white">
            <div class="mb-4">
             <a class='text-muted' href="http://185.235.41.67/api/"> <img src="/static/images/6.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded"></a>
            </div>
            <div class="">
              <h3 class="font-weight-light h5"><a class='text-muted' href="http://185.235.41.67/api/">API</a></h3>
              
            </div>
          </div>

          <div class="text-center p-3 p-md-5 bg-white">
            <div class="mb-4">
             <a class='text-muted' href="https://t.me/RadioBeech"><img src="/static/images/3.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded-circle"></a>
            </div>
            <div class="">
              <h3 class="font-weight-light h5"><a class='text-muted' href="https://t.me/RadioBeech">Telegram</a></h3>
          
              
            </div>
          </div>

          <div class="text-center p-3 p-md-5 bg-white">
            <div class="mb-4">
             <a class='text-muted' href="https://www.instagram.com/radio__beech/"> <img src="/static/images/1.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded"></a>
            </div>
            <div class="">
              <h3 class="font-weight-light h5"><a class='text-muted' href="https://www.instagram.com/radio__beech/">Insatagram</a></h3>
             
            </div>
          </div>

          <div class="text-center p-3 p-md-5 bg-white">
            <div class="mb-4">
             <a class='text-muted' href="https://www.youtube.com/channel/UCCu09geKt7FFkRS96Y6e5ng"> <img src="/static/images/4.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded-circle"></a>
            </div>
            <div class="">
              <h3 class="font-weight-light h5"><a class='text-muted' href="https://www.youtube.com/channel/UCCu09geKt7FFkRS96Y6e5ng">Youtube</a></h3>
            </div>
          </div>

          


        </div>
      </div>
    </div>
    {% endblock footer %}

    
  


  
  
 

  <script src="/static/js/jquery-3.3.1.min.js"></script>
  <script src="/static/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/static/js/jquery-ui.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/owl.carousel.min.js"></script>
  <script src="/static/js/jquery.stellar.min.js"></script>
  <script src="/static/js/jquery.countdown.min.js"></script>
  <script src="/static/js/jquery.magnific-popup.min.js"></script>
  <script src="/static/js/aos.js"></script>

  <script src="/static/js/mediaelement-and-player.min.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var mediaElements = document.querySelectorAll('video, audio'), total = mediaElements.length;

      for (var i = 0; i < total; i++) {
        new MediaElementPlayer(mediaElements[i], {
          pluginPath: 'https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/',
          shimScriptAccess: 'always',
          success: function () {
            var target = document.body.querySelectorAll('.player'), targetTotal = target.length;
            for (var j = 0; j < targetTotal; j++) {
              target[j].style.visibility = 'visible';
            }
          }
        });
      }
    });
  </script>


  <script src="/static/js/main.js"></script>

</body>
</html>

