
{% extends 'registration/login.html' %}
  {% block active %}
    <li >
      <a href="{% url 'home' %}">Home</a>
    </li>

      
    <li><a href="{% url "story" %}">Stories</a></li> 
    <li><a href="{% url "register" %}">Register</a></li>        
    <li class="active"><a href="{% url "login" %}">Password Reset</a></li>
  {% endblock active %}

{% block content %}
  <div class="container pt-5 hero">
    <form  method="post">
        {% csrf_token %}
        {% if messages %}
              {% for m in messages %}
               {{m.tags}}:{{m}}
              {% endfor %}
        {% endif %}
          <p>please enter your email and we'll send you an reset email</p>
         {{form.as_p }}
         <input type="submit" class="btn-danger  btn-default" value="send">
    </form>
  </div>
{% endblock %}




























