{% extends 'profile.html' %}
          

         {% block active %}
                <li>
                  <a href="{% url 'home' %}">Home</a>
                </li>
              {% if user.is_authenticated %}
                <li  ><a class="text-danger" href="{% url 'create_story'%}">Share Story</a><li>
                <li><a href="{% url "story" %}">Stories</a></li>
                <li><a href="{% url 'profile' %}">{{user.get_username}}</a></li>

                <li><a href="{% url 'logout' %}">Logout</a></li>               
              {% else %}  

                <li><a href="{% url "register" %}">Register</a></li>       
                <li><a href="{% url "login" %}">Login</a></li>

              {% endif %}
              {% endblock active %}



{% block content %}
  
  
    <div class="container pt-5 hero">
      <div class="row align-items-center text-sm-left">
        <div class="col-sm-9">
          <form  method="post" class="bg-white" action="{% url "create_story" %}" enctype="multipart/form-data" >{% csrf_token %}

          
               <h1 class="mb-3 display-5">Share Story</h1>           
                 <div class="form-group row">
                  <div class="col-md-12">
                    {{form.title.label_tag|title}}<br/>
                    {{form.title}}<br/>
                    {{form.title.errors|first|lower}}
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    {{form.sound.label_tag|title}}<br/>
                    {{form.sound}}<br/>
                    {{form.sound.errors|first|lower}}
                  </div>
                </div>
                <div class="form-group row"><br/>
                  <div class="col-md-12">
                    {{form.image.label_tag|title}}<br/>
                    {{form.image}}<br/>
                    {{form.image.errors|first|lower}}
                   
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    {{form.media}}
                    {{form.caption.label_tag|title}}<br/>
                    {{form.caption}}<br/>
                    {{form.caption.errors|first|lower}}
                    
                  </div>
                </div>
    
              

              
               <input type="submit" class="btn btn-primary" value="Upload">
              
             
          </form> 

     
        </div>
        <div class="col-lg-17">

        </div>
      </div>
    </div>


   



{% endblock content %}
