{% extends 'profile.html' %}

{% block content %}
  
  
    <div class="container pt-5 hero">
      <div class="row align-items-center text-sm-left">
        <div class="col-sm-9">
          <form  method="post" class="bg-white" action="{% url "create_personal_information" user.id %}"    enctype="multipart/form-data">{% csrf_token %}

          
              <h4 class="mb-3 display-5">Create Personal Information</h4>
                
                 <div class="form-group row">
                  <div class="col-sm-12">
                    {{form.avatar.label_tag|title}}<br/>
                    {{form.avatar}}
                    {{form.avatar.errors|first|lower}}
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12">
                    {{form.phone.label_tag|title}}<br/>
                    {{form.phone}}<br/>
                    {{form.phone.errors|first|lower}}
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12">
                    {{form.gender.label_tag|title}}<br/>
                    {{form.gender}}
                    {{form.gender.errors|first|lower}}
                   
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12">
                    {{form.birthday.label_tag|title}}<br/>
                    {{form.birthday}}<br/>
                    {{form.birthday.errors|first|lower}}
                    
                  </div>
                </div>
              
              <br/> <input type="submit" class="btn-lg btn-danger" value="       Save      ">
              
             
          </form> 

     
        </div>
        <div class="col-lg-17">

        </div>
      </div>
    </div>


   



{% endblock content %}
