{% extends 'profile.html' %}

{% block content %}
  
  
    <div class="container pt-5 hero">
      <div class="row align-items-center text-center text-md-left">
        <div class="col-lg-7">
          <form  method="post" class="bg-white">{% csrf_token %}
            
              {{form.media}}
              {{form.as_p}}
              
              <input type="submit" class="font-weight-light h5" value="           Save         ">
              
             
          </form> 

     
        </div>
        <div class="col-lg-17">

        </div>
      </div>
    </div>


   



{% endblock content %}