{% extends 'registration/index.html' %}

              {% block active %}
                <li>
                  <a href="{% url 'home' %}">Home</a>
                </li>
              {% if user.is_authenticated %}
                <li  ><a class="text-danger" href="{% url 'create_story'%}">Share Story</a><li>
                <li><a href="{% url "story" %}">Stories</a></li>
                <li class="active"><a href="{% url 'profile' %}">{{user.get_username}}</a></li>

                <li><a href="{% url 'logout' %}">Logout</a></li>               
              {% else %}  

                <li><a href="{% url "register" %}">Register</a></li>       
                <li><a href="{% url "login" %}">Login</a></li>

              {% endif %}
              {% endblock active %}
           
{% block content %}
    <div class="container pt-5 hero">
           

      <div class="row align-items-center text-md-left">
        <div class="col-lg-7">
            <img src="{{p.avatar.url}}" alt="no image"  onerror=this.src="/static/images/no.png" class="rounded-circle" width="150" height="150">
        </div>
        <div class="col-lg-5">
          <br/> <h1 class="mb-3 display-3">{{user}}</h1>
          <h4 class="text-muted">{{user.first_name}}  {{user.last_name}}</h4> 
          <h5  class="text-black"><small>{{l}} Story</small></h5> 
          <h6 class="text-danger"><a  class="font-weight-light h5" href="{% url 'edit_profile' user.id %}"><small>Edit Profile</small></a></h6>


          <h6 class="text-danger"><a  class="font-weight-light h5" href="{% url "add_personal_information"%}"><small> Personal Information Settings</small></a><h6/>

          {% if s %}
    
           <form class="form-inline my-2  my-sm-0>" method="get"  action="#">

            <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
            <button class=" btn-sm btn-outline-success my-2  my-sm-0" type="submit">Search</button>
           </form>
        
          {% endif %}
              
              
        </div>
        
 
    </div>
      
  
  
    <div class="container pt-3 hero">
            
      <div class="row align-items-center text-center text-md-left">
        <div class="col-lg-7">
        {% for i in object_list %}
          <div class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">
              <div class="image" style="background-image: url('{{i.image.url}}');"></div>
              <div class="text">

                <h3 class="font-weight-light">{{i.title}}</h3>
                <div class="text-white mb-3"><span class="text-black-opacity-05"><span class="sep"></span> {{i.created_at.date}} </div>


                <div class="player">
                  <audio id="player2" preload="none" controls style="max-width: 100%">
                    <source src="{{i.sound.url}}" type="audio/mp3">

                    
                    </audio>
                    <div class="text-danger"><a href={{i.get_absolute_url}}><small>Edit&nbsp;&nbsp;&nbsp;</small></a>
                    <a href={{i.gett_absolute_url}}><small class="text-danger">&nbsp;&nbsp;&nbsp;&nbsp;Delete</small></a></div>
                    
                    <br/><div class="text-muted ">{{i.caption|safe}}</div>
                  </div>

                </div>
              </div>

        {% endfor %}
        </div>
        
      </div>
    </div>
                <div class="container" data-aos="fade-up">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <div class="site-block-27">
                          
                          
                        <ul>
                      {% if l >= 2 %}
                        {% if page_obj.has_previous %}
                              <li><a href="?page={{page_obj.previous_page_number}}" class="icon-keyboard_arrow_left"></a></li>
                        {% endif %}

                        {% for page in page_obj.paginator.page_range %}
                           {% ifequal page page_obj.number %}
                              <li class="active" ><a href="?page={{page}}">{{page}}</a></li>
                           {% else %}
                              <li ><a href="?page={{page}}">{{page}}</a></li>
                           {% endifequal %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                              <li><a href="?page={{page_obj.next_page_number}}" class="icon-keyboard_arrow_right"></a></li>
                        {% endif %}
                      {% endif %}
                        </ul>
                          
                      </div>
                    </div>
                  </div>
                </div>
                    



  
{% endblock content %}

    
