{% extends 'profile.html' %}

{% block content %}
  
  
    <div class="container pt-5 hero">
      <div class="row align-items-center text-center text-md-left">
        <div class="col-lg-7">
          <form  method="post" class="bg-white" action="{% url "update_personal_information" user.id %}"    enctype="multipart/form-data">{% csrf_token %}

          
              <h1 class="mb-3 display-5">Update Personal Information</h1>

              <div class="form-group row">
                  <div class="col-md-12">
                  {% if p.avatar.url %}
                    <img src="{{p.avatar.url}}"  onerror=this.src="/static/images/no.png"  class="rounded-circle" width="150" height="150" /><br/>
                  {% endif %}
                    <br/>Change:
                    <input type="file" name="avatar" accept="image/*">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    {{form.phone.label_tag|title}}
                    {{form.phone}}<br/>
                    {{form.phone.errors|first|lower}}
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    {{form.gender.label_tag|title}}
                    {{form.gender}}<br/>
                    {{form.gender.errors|first|lower}}
                   
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    {{form.birthday.label_tag|title}}
                    {{form.birthday}}<br/>
                    {{form.birthday.errors|first|lower}}
                    
                  </div>
                </div>
            
    
              

              
               <input type="submit" class="btn-lg btn-danger" value="       Save      ">
              
             
          </form> 

     
        </div>
        <div class="col-lg-17">

        </div>
      </div>
    </div>


   



{% endblock content %}